<!--  <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main Test Suite" verbose="1">
<parameter name="browserType" value="CHROME" />
  <test name="all-tests"> 
        <classes>
            <class name="com.test.framework.automation.testCases.TC1_createAnAccountTest"/>
            <class name="com.test.framework.automation.testCases.TC2_LoginPageTest"/>
        	<class name="com.test.framework.automation.testCases.TC3_AddItemToCardTest"/>
        </classes>
    </test>
</suite>
